<a href="https://colab.research.google.com/github/gbessardon/Create_plots/blob/main/open_LUCAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Relevant litterature
## LUCAS Copernicus 2018: Earth Observation relevant in-situ data on land cover throughout the European Union paper
https://essd.copernicus.org/preprints/essd-2020-178/essd-2020-178.pdf




## csv labels description
https://ec.europa.eu/eurostat/documents/205002/8072634/LUCAS2018-RecordDescriptor-190611.pdf

## C3 classification Land cover & land use

https://ec.europa.eu/eurostat/documents/205002/8072634/LUCAS2018-C3-Classification.pdf

## Technical reference document C5 Plant Identification Guide

https://ec.europa.eu/eurostat/documents/205002/8072634/LUCAS2018-C5-PlantIdentificationGuide.pdf

# Declare variable and file location

## Running environment options

In [34]:
colab=1 # 1 running on google collab
drive=1 # 1 need to mount google drive

## LUCAS file location

In [35]:
fnshp='/content/drive/MyDrive/LUCAS2018/LUCAS_2018_Copernicus_polygons.shp'
fncsv='/content/drive/MyDrive/LUCAS2018/LUCAS_2018_Copernicus_attributes.csv'

## Latitude Longitude min max

In [36]:
latmin=50
latmax=56
lonmin=-11
lonmax=-4

# Run on collab and drive

## MOUNT google drive

In [37]:
if drive==1:
  from google.colab import drive
  drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## install geopandas and pyrpoj for collab

In [38]:
if colab==1:
  !pip install geopandas
  !pip install pyproj

Requirement already satisfied: geopandas in /usr/local/lib/python3.7/dist-packages (0.10.2)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.0)
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.1.5)
Requirement already satisfied: fiona>=1.8 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.20)
Requirement already satisfied: pyproj>=2.2.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (3.2.1)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.2.0)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2021.10.8)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: munch in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.2)
Requirement already satisfied: pyproj in /usr/local/lib/python3.7/dist-packages (3.2.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from pyproj) (2021.10.8)

# Import libraries

In [39]:
from osgeo import gdal
import shapely.geometry as geom
import geopandas as gpd
import numpy as np

In [40]:
import pandas as pd
from pyproj import Proj

# Create rectangle inside lat min lat max lon min lon max

In [41]:
p1 = geom.Point(lonmin,latmin)
p2 = geom.Point(lonmax,latmin)
p3 = geom.Point(lonmax,latmax)
p4 = geom.Point(lonmin,latmax)

pointList = [p1, p2, p3, p4, p1]

Rectangle=geom.Polygon([[p.x, p.y] for p in pointList])

# Open LUCAS shapefile (fnshp)

In [42]:
gdf = gpd.read_file(fnshp)

## select data inside the rectangle

In [43]:
fgdf=gdf.loc[gdf.within(Rectangle)==True]

# Open LUCAS attributes csv (fncsv)

In [44]:
df=pd.read_csv(fncsv)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (43) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## select attributes inside rectangle

In [45]:
fildf=df.iloc[gdf.loc[gdf.within(Rectangle)==True].index].reset_index(level=0)

# Merge attributes with locations

In [46]:
fgdf=fgdf.reset_index(level=0)

In [49]:
fgdf['LC1']=fildf.LC1
fgdf['LU1']=fildf.LU1
fgdf['LC2']=fildf.LC2
fgdf['LU2']=fildf.LU2

      index      ID  ...  LUCAS_CORE_INTERSECT  COPERNICUS_CLEANED
0      3057   81403  ...                  True                True
1      3122  431250  ...                  True                True
2      3139  121849  ...                  True                True
3      3205   30452  ...                  True                True
4      3206  100605  ...                  True                True
...     ...     ...  ...                   ...                 ...
1119  12253  431063  ...                  True                True
1120  12254  220900  ...                  True                True
1121  12305  240097  ...                  True                True
1122  12340  221718  ...                  True                True
1123  12452   96059  ...                  True                True

[1124 rows x 121 columns]

In [48]:
fgdf['values']=numbers